ollama
google-generativeai
python-dotenv
chromadb
sentence-transformers
tqdm
langchain
langchain-community
langchain-ollama
rank_bm25
langchain_google_genai
langgraph
osmnx
geopandas
langchain-anthropic
streamlit
streamlit_folium
folium
typing
typing_extensions
langchain_text_splitters
geopy